body { 
  background-color: hsl(168, 78%, 87%);
  margin-left: 10vmax;
  margin-right: 10vmax;
  text-align: justify;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: hsl(13, 94%, 7%);
    
}

h1{
  margin-top: 5%;
  text-align: center;
  font-size: 36pt;
}

img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-top: 100px;
  margin-right: 20px;
}

div {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-top: 50px;
  margin-left: 350px;
  margin-right: auto;
  border-left: 10px solid rgb(51, 3, 17);
}